@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{ 
    max-width: 600px;
    margin: auto;
    background-color: gray;
}
h1{
    font-family: 'Audiowide', cursive;
    margin: auto;
    animation: baufbar 1.5s infinite ;
}

@keyframes baufbar{

    0%{
        text-shadow: 2px 2px 2px hotpink;
        color: indianred;
        font-size: 100%;
    }
    50%{
        text-shadow: 12px 12px 12px hotpink;
        color: indigo;
        font-size: 200%;
    }
    100%{
        text-shadow: 2px 2px 2px hotpink;
        color: blue;
        font-size: 100%;
    }
}